<div *ngIf="!adminService.getAdminToken()">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand rest" href="#">
          <h1><b><span style="color: #241a71;">Logistic</span>
              <span style="color: red;"> AGGREGATOR</span></b></h1>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a routerLink="/" routerLinkActive="active">
              <span class="glyphicon glyphicon-home"></span> <b> Home</b> </a></li>
          <li class="dropdown">
            <a routerLink="/dashboard" routerLinkActive="active">
              <i class="fab fa-servicestack"></i><b> Service</b> </a>

          </li>
          <li><a routerLink="/service-partner" routerLinkActive="active">
              <i class="fas fa-dolly"></i><b> Search Service Partner</b></a></li>
          <li><a routerLink="/contactUs" routerLinkActive="active">
              <i class="fas fa-phone-alt"></i><b> Contact Us</b></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <span class="example-spacer"></span>
          <button mat-raised-button routerLink="/signin" *ngIf="!_authService.loggedIn()" class="btn">Sign in</button>
          <button mat-raised-button routerLink="/signup" *ngIf="!_authService.loggedIn()" class="btn">Sign Up</button>
          <div *ngIf="_authService.loggedIn()">
            <button mat-raised-button style="cursor: pointer;" class="btn" (click)="false">Welcome
              {{_authService.getUserName()}}</button>
            <button mat-raised-button style="cursor: pointer;" class="btn"
              (click)="_authService.logoutUser()">Logout</button>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div *ngIf="adminService.getAdminToken()">
  <button mat-raised-button style="cursor: pointer;" (click)="adminService.adminLoggedOut()">Logout</button>
</div>