 .example-card {
    width: 450px;
    box-shadow: 1px 1px 20px 0px rgba(50, 50, 50, 0.3);
    border-radius: 15px;
    font-family:'Courier New', Courier, monospace;
}
 
.matDiv {
   margin:  auto;
}