<div class="container">
    <div fxLayoutAlign="center" class="card-div">
        <pre style="color: #241a71;"><b>
   You Have Been Logged Out Succesfully..
    Thank you for Using our website <i class="fa fa-thumbs-up" aria-hidden="true"></i></b>
       </pre>
        <div class="btn-div">
            <button mat-button routerLink="/" (click)="false"> Back to Home</button>
        </div>
    </div>
    <img src="../../assets/img/hotel.png" class="hotel" alt="">
    <img src="../../assets/img/car2.png" class="car2" alt="">
    <img src="../../assets/img/car4.png" class="car4" alt="">
    <img src="../../assets/img/cloud.png" class="cloud" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_2" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_3" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_4" alt="">
</div>