<div class="container">
    <div class="card-div">
        <h1>
            <b>
                <span style="color:#241a71 ;">WELCOME </span>
                <span style="color:red">TO </span>
                <span style="color:#241a71 ;">LOGISTIC</span>
                <span style="color:red"> AGGREGATOR</span>
            </b>
        </h1>
        <h2 style="text-align: center; color:#241a71;">
            <b>Fastest
                <span style="color:red">Courier</span>
                Service
            </b>
            <br />
        </h2>
        <form autocomplete="off" class="tackForm">
            <input placeholder="Enter tracking id" disabled><button mat-button style="cursor: pointer;"
                (click)="false"><i class="fas fa-search-location"></i> Track</button>
        </form>
        <span>To be Available soon</span>
        <br>
        <button mat-button style="cursor: pointer;" routerLink="/dashboard">Get Started</button>
    </div>
    <img src="../../assets/img/hotel.png" class="hotel" alt="">
    <img src="../../assets/img/car2.png" class="car2" alt="">
    <img src="../../assets/img/car4.png" class="car4" alt="">
    <img src="../../assets/img/cloud.png" class="cloud" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_2" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_3" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_4" alt="">
</div>